*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: #333;
    color: white;
    padding: 20PX;
    menu{
        display: flex;
          justify-content: center;
          gap: 1rem;
          list-style-type: none;
          align-items: center ;
          a{
              color: white;
              text-decoration: none;
              font-weight: bold;
              &.active{
                opacity: .5;
                pointer-events: none;
              }
          
          }
          button{
                padding: 10px;
                background-color: white;
                color: black;
                border: none;
                border-radius: 5px;
                cursor: pointer;
            
          }
    }
}

a{
    color: black;
    text-decoration: none;
    
}

.posts{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    padding: 20px;
    ul{
        list-style-type: none;
        li{
            background-color: #f4f4f4;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 0 5px rgba(0,0,0,.1);
            h2{
                margin-bottom: 10px;
            }
            p{
                margin-bottom: 10px;
            }
            a{
                background-color: #333;
                color: white;
                padding: 5px 10px;
                border-radius: 5px;
                text-decoration: none;
                display: inline-block;
            }
        }
    }
 
}
footer{
    width: 100%;
    position: fixed;
    bottom: 0;
    padding: 20px;
    background-color: #333;
    color: white;
    text-align: center;
}

form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 20px;
    align-items: center;
    text-align: center;
    input{
        padding: 10px;
        border-radius: 5px;
        border: 1px solid #ccc;
    }
    button{
        padding: 10px;
        background-color: #333;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
}

.homepage{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    padding: 20px;
    h1{
        text-align: center;
    }
    a{
        background-color: #333;
        color: white;
        padding: 5px 10px;
        border-radius: 5px;
        text-decoration: none;
    }
}

#articleForm{
    background-color: black;
    margin-bottom: 20px;
    color : white;

    input{
        width: 100%;
        padding: 10px;
        margin-bottom: 20px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

    button{
        padding: 10px 20px;
        border: none;
        border-radius: 4px;
        background-color: green;
        color: white;
        cursor: pointer;
        margin-top: 20px;
    }

    textarea{
        width: 300px;
        height: 100px;
        margin-bottom: 20px;
    }
}
    
.create{
    background-color: black;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    padding: 20px;
    h1{
        text-align: center;
        color: white ;
    }
    a{
        background-color: #333;
        color: white;
        padding: 5px 10px;
        border-radius: 5px;
        text-decoration: none;
    }
}

.tags {
    margin-top: 20px;
    display: flex;
    gap: 1rem;
}


.posts {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    padding: 20px;

    .card-container {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        justify-content: center;
    }
    
    .card {
        background-color: #f4f4f4;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
        width: calc(33.333% - 1rem); /* Three cards per row, adjust as needed */
        box-sizing: border-box;
        text-align: center;
    }
    
    .card p {
        margin-top: 20px;
    }
    
    .card a {
        background-color: #333;
        color: white;
        padding: 5px 10px;
        border-radius: 5px;
        text-decoration: none;
        display: inline-block;
    }
}

.post{
    margin: auto;
    width: 500px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 1rem;

    ul{
        list-style-type: none;
        li{
            background-color: #f4f4f4;
            padding: 20px;
            margin: 20px;
            border-radius: 5px;
        }
    
    }
}

.back{
    margin: 20px;
    background-color: #333;
    padding: 5px 10px;
    border-radius: 5px;
    display: inline-block;
    a{
        color: white;
        text-decoration: none;
    }
}

.signIn{
    display: flex;
    justify-content: center;
    gap: 1rem;
    align-items: center;
    padding: 20px;
    h3{
        text-align: center;
    }
}

.paginator{
    display: flex;
    gap: .5rem;
    align-items: center;
    user-select: none;
    button{
      width: 18px;
      height: 18px;
    }
  }

  